<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Base64 Codec</h1>
    </div>

    <div class="row">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>Encoder</button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-md-6">
                <textarea
                  [formControl]="encoderInput"
                  class="form-control in"
                  placeholder="Enter text to encode"
                  rows="20"
                ></textarea>
              </div>
              <div class="col-md-6">
                <textarea
                  class="form-control out"
                  [value]="encoderOutput"
                  readonly
                  placeholder="Encoded text"
                  rows="20"
                ></textarea>
              </div>
            </div>
          </ng-template>
        </li>

        <li [ngbNavItem]="2">
          <button ngbNavLink>Decoder</button>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-md-6">
                <textarea
                  [formControl]="decoderInput"
                  class="form-control in"
                  placeholder="Enter text to decode"
                  rows="20"
                ></textarea>
              </div>
              <div class="col-md-6">
                <textarea
                  class="form-control out"
                  [value]="enablePrettify ? parsedOutput : decoderOutput"
                  readonly
                  placeholder="Decoded text"
                  rows="20"
                ></textarea>

                <div
                  class="prettify-checkbox"
                  title="Pretty-print JSON outputs. Enabling this may modify the encoded text by adding linebreaks and spaces to make it more readable."
                >
                  <input
                    type="checkbox"
                    [(ngModel)]="enablePrettify"
                    [disabled]="!isValidJson(decoderOutput)"
                    id="prettify-checkbox"
                  />
                  <label for="prettify-checkbox">Prettify</label>
                </div>
              </div>
            </div>
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
          <button ngbNavLink>Hashing</button>
          <ng-template ngbNavContent>
            <form class="row row-cols-lg-auto g-3 align-items-center">
              <div class="cols-12">
                <label class="visually-hidden" for="formInputHashingInput"
                  >Text to hash</label
                >
                <div class="input-group">
                  <div class="input-group-text">Input</div>
                  <input
                    type="text"
                    class="form-control"
                    [formControl]="hashingInput"
                    id="formInputHashingInput"
                    placeholder="Text to hash"
                  />
                </div>
              </div>

              <div class="cols-12">
                <label class="visually-hidden" for="formSelectHashingAlgorithm"
                  >Hashing Algorithm</label
                >
                <select
                  class="form-select"
                  id="formSelectHashingAlgorithm"
                  [formControl]="hashingAlgorithm"
                >
                  <option value="sha1" selected>SHA1</option>
                  <option value="md2">MD2</option>
                  <option value="md4">MD4</option>
                  <option value="md5">MD5</option>
                </select>
              </div>

              <div class="cols-12">
                <button type="button" class="btn btn-primary" (click)="hash()">
                  Hash
                </button>
              </div>

              <div class="cols-12">
                <label class="visually-hidden" for="formInputHashingOutput"
                  >Hash value</label
                >
                <div class="input-group">
                  <div class="input-group-text">Output</div>
                  <input
                    type="textarea"
                    readonly
                    rows="3"
                    class="form-control"
                    [value]="hashingOutput"
                    (focus)="select($event)"
                    id="formInputHashingOutput"
                    placeholder="Hash value"
                  />
                </div>
              </div>
            </form>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

  <router-outlet />
</div>
